main {
    height: 90vh;
}
#test {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin-bottom: 1rem;
    margin-top: 2rem;
    background-color: #f2f2f2;
    margin-left: 3rem;
    margin-right: -2rem;
    position: relative;
    height: 20rem;
    width: 10rem;
    padding: 0 5rem 5rem 5rem;
}


