body{
  margin: 0;
}
  header{
    height: 3rem;
    width: 100%;
  background-color: black;
    top: 0;
    left: 0;
    position: fixed;
  }

main{
  padding-top: 3rem;
  background: linear-gradient(180deg, #2C2C2C 0%, rgba(40, 40, 40, 0) 99.97%, rgba(30, 30, 30, 0.265625) 99.98%, rgba(31, 31, 31, 0.239063) 99.99%);
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
}
#submitButton{
  background-color: green;
}

#bar {
color: white;
}

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:px;
    margin-top: 3rem;
  }
#backgroud{
    
    opacity: 0.5;
    width: 100vw;
    height: 130vh;
    background-repeat: no-repeat;
    background-size:cover ;
    position: fixed;
    top: -15rem;
    left: 0;
    z-index: -10;
}
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    margin-top: -2rem;
    position: fixed;
  
  }
 
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .carousel {
    margin: 0 auto;
    animation-name: carouselAnim;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    position: relative;
    width: 60%;
    height: 45rem;
    
    }
    @keyframes carouselAnim {
    0% { background-image: url("../Projetofinal/Sala\ 1.png");  
        background-repeat: no-repeat;
        background-size:cover;} 

    100% { background-image: url("../Projetofinal/Sala\ 2.jpg");  
        background-repeat: no-repeat;
        background-size:cover;} 
    }
    h1{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 5rem;
        margin-top: 1rem;
        color: white;
    }