
#Aulas{
width:80%;
display:flex;
}



.card {
    position: relative;
    width: 280px;
    height: 18.8rem;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2d66ac;
    margin-left: 15rem;
  }
  
  .bg {
    color:white;
    position: absolute;
    font-size:1rem;
    top: 5px;
    left: 5px;
    width: 270px;
    height: 290px;
    z-index: 2;
    background: #2d66ac;
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  .editar{
    color: white;
    text-decoration: none;
    background-color: green;
    border: 1px solid black;
    
  }
#apagar{
background-color:red;
color:white;
border: 1px solid black;
}
h1{
  color:black;
  font-size: 7rem;
  margin-top: 1rem;
  text-align: center;
  font-family:Script MT;
}

