.texto{
    width: 80%;
    margin-left: 15rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family:Script MT;
}

h1{
    color:black;
    font-size: 7rem;
    margin-top: 1rem;
    text-align: center;
    font-family:Script MT;
}
img{
    height: 35rem;
    width: 80%;
    margin-left: 10%;
}
p{
    margin-top: -3rem;
}
.textt{
    margin-top: 0;
}
